h1 {
  text-align: center;
  font-size: 2em;
  background: linear-gradient(45deg, #2157cb, #874ce4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* margin-bottom: 20px; */
  /* margin-bottom: 5vh; */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.qui-sommes-nous {
  font-size: 0.8em;
  color: #f8faff;
  background-color: #5b8fff;
  padding: 0.1em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  transition: all 0.75s ease;
}
.qui-sommes-nous:hover {
  background-color: #874ce4;
  padding: 0.2em 0.6em 0.6em 0.6em;
  font-size: 0.9em;
}
.blog-robot {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  align-items: center;
}
.ilia-blog {
  flex: 1;
  position: relative;
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
text {
  animation: rotate 20s linear infinite;
  transform-origin: 50% 50%;
  font-size: 0.7em;
  fill: #874ce4;
}
svg {
  width: 80%;
  height: 80%;
}
.image-circle {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 3.5em;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.robot-div {
  flex: 1;
}
.robot {
  width: 6em;
  background-color: #a9c6ff;
  background: linear-gradient(135deg, #a9c6ff 50%, #a16cf6 100%);
  padding: 0.8em;
  border-radius: 1em;
  transition: all 0.2s ease;
}
.robot:hover {
  width: 7em;
}

.guy {
  width: 20em;
}

.third-bloc {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.pourquoi-rejoindre1 {
  color: white;
  font-size: 0.8em;
  background-color: #874ce4;
  padding: 0.1em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  transition: all 0.2s ease;
}
.pourquoi-rejoindre1:hover {
  background-color: #5b8fff;
  font-size: 0.9em;
  padding: 0.3em 0.7em 0.7em 0.7em;
}

.pourquoi-rejoindre2 {
  font-size: 0.8em;
  color: #1c144e;
  background-color: #a9c6ff;
  padding: 0.1em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  transition: all 0.2s ease;
}
.pourquoi-rejoindre2:hover {
  background-color: #d3b9fd;
  font-size: 0.9em;
  padding: 0.3em 0.7em 0.7em 0.7em;
}

.ilia-blogs-band-container {
  /* margin: 30px 0 30px 0; */
  margin: 2em 0 2em 0;
  overflow: hidden;
  white-space: nowrap;
}
.ilia-blogs-band {
  animation: slide-right 15s linear infinite;
  color: #2157cb;
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@media (min-width: 768px) {
  /* .ilia-btn button {
    opacity: 1;
  } */
  .navigation-item {
    font-size: 100%;
  }
  .main-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .first-bloc {
    flex: 1;
    min-width: 200px;
  }
  .third-bloc {
    flex: 1;
    min-width: 200px;
  }

  svg {
    opacity: 0;
  }
}
@media (min-width: 912px) {
  svg {
    opacity: 1;
  }

  .guy {
    min-width: 30em;
  }
}
