@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
body {
  margin: 5em 1em 0 1em;
  font-family: "Fredoka", sans-serif;
  background-color: #e4edff;
}
.navigation-bar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #e4edff;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navigation-item {
  font-size: 65%;
  font-weight: 550;
}

.navigation-item a {
  text-decoration: none;
}

/* .ilia-btn button {
  font-family: "Fredoka", sans-serif;
  color: #e4edff;
  font-weight: 550;
  background-color: #874ce4;
  padding: 0.7em 2em;
  border: none;
  border-radius: 1.5em;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.ilia-btn button:hover {
  background-color: #9f73e6;
  transition: all 0.2s ease;
}
.ilia-btn button:active {
  background-color: #2157cb;
} */

.logo img {
  margin-left: 0.5em;
  width: 30%;
  height: 20%;
  background-color: #0051ff;
  padding: 7%;
  border-radius: 50%;
  cursor: pointer;
}

.accueil a {
  color: #874ce4;
}
.ressources a {
  color: #2157cb;
}
.club-ilia a {
  color: #874ce4;
}
.ILIAFOLIO a {
  color: #2157cb;
}
.contact a {
  margin-right: 0.5em;
  color: #874ce4;
}

.accueil:hover {
  font-size: 110%;
}
.ressources:hover {
  font-size: 110%;
}
.club-ilia :hover {
  font-size: 110%;
}
.ILIAFOLIO :hover {
  font-size: 110%;
}
.contact :hover {
  font-size: 110%;
}

.accueil a:visited {
  color: #874ce4;
}
.ressources a:visited {
  color: #2157cb;
}
.club-ilia a :visited {
  color: #874ce4;
}
.ILIAFOLIO a :visited {
  color: #2157cb;
}
.contact a:visited {
  color: #874ce4;
}
@media (min-width: 768px) {
  /* .ilia-btn button {
    opacity: 1;
  } */
  .navigation-item {
    font-size: 1em;
  }
}
